body{
    background-image: url(img/bancolombia3.jpg);
}
h1{
    color: yellow;
}
h2{
    color: yellow;
}
h4{
    color: yellow;
}
.mb-3{
    text-align: center;
    color: yellow;
}
form{
    color: blue ;
}

